/**************** extend css start ****************/
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Poppins:300,800|Roboto:300i,400,500,700");

.btn_2 {
  background-image: -webkit-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
  background-image: -o-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
  background-image: linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
}


body {
  font-family: 'Poppins', sans-serif!important;
  padding: 0;
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
}
.social{
  z-index: 9;

  padding: 20px;
  position: fixed;
  top: 30%;
  right: 0;
}
.social li{
  margin: 0 0 15px;
  cursor: pointer;
  background: #047dff9e;
  border-radius: 50px;
  padding: 5px;

}
.social li:hover{
  background: linear-gradient(95deg, rgb(22, 135, 237), rgb(179, 86, 252));
}
.message_submit_form:focus {
  outline: none;
}
.our_latest_work, .blog_part , .happy_client{
  margin-bottom: 180px;
}
 .happy_client{
  margin-bottom: 150px;
}
input:hover, input:focus {
  outline: none !important;
}
.gray_bg {
  background-color: #f7f7f7;
}

.single_padding_top {
  padding-top: 140px !important;
}

.banner_part::after {
  content: "";
  position: absolute;
  background: url(../img/img/wave-top.svg);
  background-size: 100%!important;
  background-repeat: no-repeat!important;
  bottom: 0px;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.padding_top {
  padding-top: 140px;
}
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #161616 !important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  color: #112e41;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #666666;
  font-size: 14px;
  margin-bottom: 0px;
  color: #646464;
  line-height: 1.8;
}

h2 {
  font-size: 44px;
  line-height: 28px;
  color: #112e41;
  font-weight: 600;

}



h3 {
  font-size: 24px;
}

.heading span:nth-child(2){
  font-weight: 600;
}
/* line 112, */
.blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  font-style: inherit;
  font-weight: 600;
  color: #2a2a2a;
}

h5 {
  font-size: 18px;
}

img {
  max-width: 100%;
}
a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_bg_2 {
  background-color: #162b45;
}

.section_tittle {
  margin-bottom: 83px;
}


.section_tittle h2 {
  font-size: 42px;
  color: #0358b3;
  font-weight: 700;
  position: relative;
}


.section_tittle p {
  color: #161616;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 17px;
  text-transform: uppercase;
  line-height: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb_110 {
  margin-bottom: 110px;
}


.mt_130 {
  margin-top: 130px;
}

.pb_140 {
  padding-bottom: 140px;
}

.mt_80 {
  margin-top: 80px;
}
.padding_less_40 {
  margin-bottom: -50px;
}

.z_index {
  z-index: 9 !important;
  position: relative;
}


.custom-animation {
  backface-visibility: hidden;
  animation: jumping 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all .9s ease 5s;
  user-select: none;
}

.custom-animation2 {
  backface-visibility: hidden;
  animation: jumping2 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 1s ease 3s;
  user-select: none;
}

.custom-animation3 {
  backface-visibility: hidden;
  animation: jumping3 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 7s ease 2s;
  user-select: none;
}

.custom-animation4 {
  backface-visibility: hidden;
  animation: jumping4 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}

.custom-animation10 {
  backface-visibility: hidden;
  animation: jumping10 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}
.custom-animation11 {
  backface-visibility: hidden;
  animation: jumping11 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}
.custom-animation6 {
  backface-visibility: hidden;
  animation: jumping11 9s ease-in-out 2s infinite alternate;
  animation-delay: 1s;
  transition: all 8s ease 4s;
  user-select: none;
}
@keyframes jumping {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: .8;
  }
  25% {
    transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
    opacity: .9;
  }
  50% {
    transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
    opacity: .8;
  }
  75% {
    transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
    opacity: .6;
  }
  85% {
    transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
    opacity: .7;
  }
  100% {
    transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
    opacity: .85;
  }
}

@keyframes jumping2 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0) scale(1);
    opacity: .5;
  }
  25% {
    transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
    opacity: .8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
    opacity: .8;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
    opacity: .7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
    opacity: .9;
  }
}

@keyframes jumping3 {
  0% {
    transform: translateY(10px) translateX(0) rotate(0) scale(1);
    opacity: .9;
  }
  20% {
    transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
    opacity: .8;
  }
  40% {
    transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
    opacity: .8;
  }
  40% {
    transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
    opacity: 1;
  }
  80% {
    transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
    opacity: .6;
  }
  100% {
    transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
    opacity: .7;
  }
}

@keyframes jumping4 {
  0% {
    transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
    opacity: .7;
  }
  25% {
    transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
    opacity: .8;
  }
  50% {
    transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
    opacity: .9;
  }
  75% {
    transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
    opacity: .7;
  }
  100% {
    transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
    opacity: .9;
  }
}

@keyframes jumping10 {
  0% {
    transform: rotate(180deg);
    display: block;
  }
  100% {
    transform: rotate(30deg);
    display: block;
  }
}

@keyframes jumping11 {
  0% {
    transform: rotate(180deg) translate(-20px, 20px);
    display: block;
  }
  100% {
    transform: rotate(30deg) translate(0px, 0px);
    display: block;
  }
}
.hero-app-1 {
  position: absolute;
  left: 4%;
  top: 10%;
}
.hero-app-2 {
  position: absolute;
  left: 5%;
  bottom: 35%;
}
.hero-app-3 {
  position: absolute;
  top: 20%;
  left: 25%;
}

.hero-app-6-2 {
  position: absolute;
  left: -11%;
  top: -80%;
}
.hero-app-12 {
  position: absolute;
  right: -11%;
  top: 155%;
  z-index: 9;
}
.hero-app-7-1 {
  position: absolute;
  top: -52%;
  left: 26%;
}

/* .hero-app-4 {
  position: absolute;
  bottom: 20%;
  left: 50%;
} */
.hero-app-5 {
  position: absolute;
  bottom: 40%;
  left: 50%;
}

.hero-app-6 {
  position: absolute;
  right: 5%;
  top: 40%;
}

.hero-app-7 {
  position: absolute;
  top: 13%;
  left: 51%;
}
.hero-app-8 {
  position: absolute;
  left: 68%;
  top: 60%;
}




.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #fdcb9e;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.submit_btn:hover {
  background: transparent;
}

.btn_1 {
  display: inline-block;
  padding: 14px 40px;
  background-color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
  color: #067fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 10px 30px 0px rgba(0, 123, 255, 0.35);
}

.btn_1:hover {
  color: #fff !important;
  box-shadow: 0px 10px 30px rgba(0, 123, 255, 0.35);
  background: #017bff;
  cursor: pointer;
}


.btn_2 {
  display: inline-block;
  padding: 19.5px 42px;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50px;
  margin-top: 50px;
  background-size: 300% 100%;
}

.btn_2:hover {
  color: #fff !important;
  background-size: 100% 100%;
}

@media (max-width: 576px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

.btn_3 {
  font-size: 14px;
  color: #112e41;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1.3px;
  padding-top: 32px;
  display: inline-block;
  display: flex;
  align-items: center;
}


.btn_3 span {
  margin-left: 13px;
  margin-top: 2px;
}

.btn_4 {
  display: inline-block;
  padding: 13px 47px;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50px;
  background-size: 300% 100%;
}

.btn_4:hover {
  color: #fff;
  background-size: 100% 100%;
}

/*=================== custom button rule start ====================*/

.button {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  background-color: #161616;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}



.button:hover {
  color: #fff;
}

.button-link {
  letter-spacing: 0;
  color: #3b1d82;
  border: 0;
  padding: 0;
}

.button-link:hover {
  background: transparent;
  color: #3b1d82;
}

.button-header {
  color: #fff;
  border-color: #fdcb9e;
}

.button-header:hover {
  background: #b8024c;
  color: #fff;
}

.button-contactForm {
  color: #fff;
  border-color: #fdcb9e;
  padding: 12px 25px;
}


.latest-blog-area .area-heading {
  margin-bottom: 70px;
}


/**************menu part start*****************/
.main_menu .navbar-brand {
  padding-top: 0rem;
}

.main_menu .navbar {
  padding: 12px 0px;
}

.main_menu .main-menu-item {
  text-align: right !important;
  justify-content: center;
}

.main_menu .main-menu-item ul li a {
  color: #fff !important;
  font-size: 15px;
  padding: 9px 20px !important;
  font-weight: 500;
}

.single_page_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.single_page_menu .main-menu-item ul li a {
  color: #fff !important;
}

.home_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: 18px;
  border: 0px solid transparent;
  background-color: #e614ff;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: #fff !important;
  background-color: #e614ff;
}

/* line 77, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

/* line 83, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_menu.scss */
.single_page_menu .menu_fixed {
  background-color: #161616;
}

/* line 87, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color:#047dff;
  top: 0;
}

/* line 94, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_menu.scss */
.menu_fixed .main-menu-item ul li a {
  color: #fff !important;
}

/* line 98, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_menu.scss */
.menu_fixed span {
  color: #000 !important;
}



/**************** banner part css start ****************/
/* line 2, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_banner.scss */
.navbar-light .navbar-brand {
  color: #fff;
  display: block;
}
.navbar-light .navbar-brand:nth-child(2){
  font-weight: 700;
}
.navbar-brand {
  line-height: 1;
}
.banner_part {
  height:100vh;
  position: relative;
  z-index: 1;
  background-color: #f7f7f7;
  position: relative;
}
.img-banner{
  height: 100vh;
  /* width: 100%; */
  background-size: 100%!important;
  background-position: 0 30%!important;
}
.img-banner::before{
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(326.78deg, #007bff00 0%, #007bff24 50.28%, #007bff 98.82%);
}
/* line 8, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_banner.scss */
/* .banner_part:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url("../img/banner_overlay_2.png") top right no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
} */


.banner_part .banner_bg {
  position: relative;
}

.banner_part .banner_bg img {
  margin-left: 20%;
}

.banner_part .banner_text {
  display: table;
  /* width: 100%; */
  height: 600px;
  position: absolute;
}

.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

.heading .heading__static {
  display: block;
}
.heading .heading__animated {
  display: inline;
}

.hidden {
  display: none;
}
.heading{
  color:#fff;
}
.banner_part .banner_text h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  /* line-height: 90px; */
  /* text-transform: uppercase; */
  color: white;
}

.banner_part .banner_text h2 span {
  font-size: 70%;
  display: block;
}
 
.banner_part .banner_text h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: start;
  color: #fff;
}
.wave img{
  width: 100%;
  height: auto;
  margin-top: -245px;
  /* margin-left: -300px; */
  position: absolute;
}
.wave img {
  max-width: initial!important;
}

.banner_part .banner_text .btn_1 i {
  font-size: 12px;
  margin-left: 5px;
}

.banner_part .hero-app-8 {
  position: absolute;
  left: 60%;
  bottom: 13%;
  top: auto;
}


.cta_part {
  text-align: center;
  /* padding: 15px 0px 105px; */
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover!important;
  justify-content: center;
  align-items: center;
  display: flex;
  color:#fff;
}
.cta_part_text{
 
  height: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
 
}
.contact_part::before{
  content: "";
  width: 100%;
  height: 85vh;
  position: absolute;
  background: #007bff8f;
}
.contact_part::after {
  content: "";
  position: absolute;
  background: url(../img/img/wave-top.svg);
  background-size: 100%!important;
  background-repeat: no-repeat!important;
  bottom: 0px;
  width: 100%;
  height: 300px;    overflow: hidden;
}
.cta_part_text h2{
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 9px #00000024;
}
.cta_part_text span{
  font-weight: 800;
}
.cta_part_text p{
  color: #FFF;
}
.text_contact p{
  color: #fff;
}
.contact{
  background: linear-gradient(95deg, rgb(22, 135, 237), rgb(179, 86, 252));

    border-radius: 50px;
    box-shadow: 0 0 12px rgba(22, 135, 237, 0.6);
    margin-bottom: 90px;
}
.politicas ul{
  justify-content: flex-end;
  display: inline-flex;
  width: 100%;
  align-items: initial;

}
.politicas p{
  text-align: start!important;
    margin-bottom: 15px;
    font-size: .8rem;
}
.politicas a{
  padding: 0 15px;
  font-size: .8rem;
  color: #1616169e;
}
.politicas{
  border-bottom: 1px solid #00000033;
  line-height: 3;
}
.text_contact{
  padding: 20px 55px;
  font-family: 'Poppins', sans-serif;

}
.btn-contact{
  text-align: center;
}
.text_contact h2{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 100;
 
}

.cta_part .cta_part_iner .cta_part_text p {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}

.cta_part .cta_part_iner .cta_part_text h1 {
  font-size: 2rem;
  color: #0358b3;
    display: flex;
    width: 900px;
    text-align: center;
}


.happy_client::before{
  width: 100%;
  height: 500px;
  content: "";
  position: absolute;
  background:url(../img/img/wavebottom.png);
  background-size: 100%!important;
  background-repeat: no-repeat!important;
  top: -5px;
  overflow: hidden;
  }
  .happy_client::after{
    width: 100%;
    height: 500px;
    content: "";
    position: absolute;
    background:url(../img/img/wave.png);
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    overflow: hidden;
   
    }
    .happy_client h5{
      color: #fff;
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
          font-weight: 900;
          font-family: "Poppins", sans-serif;
    }
  .happy_client img{
    margin-top: -160px;
    z-index: 9;
  }
  
/* line 60, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_resent_work.scss */
.our_latest_work .single_work_demo h3 {
  font-size: 2em;
  line-height: 1.333;
  margin-bottom: 30px;
  color: #0358b3;
  font-weight: 600;
  text-align: center;
}
.single_work_demo p{
  color: #666666;
  font-size: 16px;
  margin-bottom: 0px;
  color: #112e41;
  line-height: 1.8;
  font-weight: 500;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;

}


.our_latest_work .demo_img img {
  width: 55%;
  }
  .demo_img{
    text-align: center;
  }
  .happy_client {
    background-color: #161616;
    padding: 110px 0px 130px;
    position: relative;
  }

.card_blog{
  width: 200px;
  cursor: pointer;
}
.card_blog h1{
  font-size: 1.5rem;
}
.card_blog p{
  font-weight: 500;
  font-family: "Poppins", sans-serif!important;
}
.p-blog{
  padding: 20px;
}
.card_blog img{
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.w-full {
  width: 100%;
}
.bg-white {
  background-color: #fff;
  width: 320px!important;
}


.small {
  font-size: 0.75rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
}
.footer-area{
  position:relative;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}

/* clientes */
.wrap-clientes {
  /* padding: 2.8rem; */
  position:relative;
  width: 100%;
}
.cta_part_iner{
  text-align: center;
  justify-content: center;
  display: flex;

}

.clients {
    align-items: center;
    -webkit-box-align: center;
    display: grid;
    gap: 4.8rem 4.8rem;
    grid-template-columns: auto auto;
    justify-items: center;
    margin: 4.8rem auto;
    max-width: 1024px; }

.clients li {
  list-style: none;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.clients img {
  height: 2rem;

}
.clients:hover li {
filter: blur(0px);
-webkit-filter: blur(0px);
}
.clients:hover li:not(:hover)  {
filter: blur(2px);
-webkit-filter: blur(2px);
}
.clients li:hover {
/* -webkit-transform: translateY(-0.3rem); */
/* transform: translateY(-0.3rem);  */
}

@media (min-width: 1024px) {
.clients {
    grid-template-columns: auto auto auto auto; }
    
.clients img {
  height: 5rem; }

/* --- Images (gray logo) --- */
/* .clients img {
  -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
          filter: grayscale(100%) brightness(10%) contrast(10%); } */

.clients img:hover {
  background: none;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }



  /* transition */
  .hero-app-1 {
    position: absolute;
    left: 4%;
    top: 10%;
  }
  
  @media (max-width: 576px) {
    /* line 435, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-1 {
      display: none;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 435, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-1 {
      padding: 8px 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 435, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-1 {
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 435, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-1 {
      padding: 10px 25px;
    }
  }
  
  /* line 453, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
  .hero-app-2 {
    position: absolute;
    left: 5%;
    bottom: 35%;
  }
  
  @media (max-width: 576px) {
    /* line 453, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-2 {
      bottom: 5%;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 453, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-2 {
      bottom: 20%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 453, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-2 {
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 453, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
    .hero-app-2 {
      padding: 10px 25px;
    }
  }
  
  /* line 471, E:/170 Kanox Agency/170_Kanox_Agency_html/sass/_common.scss */
  .hero-app-3 {
    position: absolute;
    top: 20%;
    left: 25%;
  }
  
  @media (max-width: 576px) {
   
    .hero-app-3 {
      left: 5%;
    }
  }
  

  .hero-app-4 {
    /* position: absolute; */
    bottom: 20%;
    left: 50%;
  }
  

  .hero-app-5 {
    position: absolute;
    bottom: 40%;
    left: 50%;
  }
  

  .hero-app-6 {
    position: absolute;
    left: -11%;
    top: 80%;
    z-index: 9;
  }
  

  .hero-app-7 {
    position: absolute;
    top: 13%;
    left: 51%;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {

    .hero-app-7 {
      top: 5%;
      left: 73%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {

    .hero-app-7 {
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
  
    .hero-app-7 {
      padding: 10px 25px;
    }
  }
  

  .hero-app-8 {
    position: absolute;
    left: 68%;
    top: 60%;
  }
  
  @media (max-width: 576px) {

    .hero-app-8 {
      top: 80%;
    }
  }

  /* slick */
  .slick-dots {
    position: absolute;
    bottom: -60px!important;
  }
  .slick-dots li button:before {
    font-family: slick;
    font-size: 50px!important;
  }
  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #047dff!important;
}
.slick-next:before, .slick-prev:before {
  font-family: boxicons!important;

}
.slick-next:before {
  content: "\eb24"!important;
}
.slick-next:before, .slick-prev:before {

  color: #047dff!important;
}
.slick-prev:before {
  content: "\eaca"!important;
}
.slick-next:before, .slick-prev:before{
  font-size: 29px!important;
}

/* barra
 */
 ::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: -webkit-linear-gradient(rgba(214, 39, 102, 0.65), rgba(63, 31, 77, 0.83));
  background: linear-gradient(95deg, rgb(22, 135, 237), rgb(179, 86, 252));
}